/* Default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.company-name {
    font-size: 24px;
    color: black;
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    padding: 10px;
}

/* Style after hovering  on the navbar link */
.navbar a:hover {
    border: solid 2px #cfc338;
    background-color: #e2db88;
    border-radius: 5px;
    padding: 10px;
    color: #ff0000;
}

/* Banner Section */
.banner img {
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

/* Industry Section */
#aboutHeading {
    padding-top: 20px;
    padding-bottom: 20px;
}

.industryHeading {
    background-color: #cfc338;
    margin: 0px 300px 10px 300px;
    padding: 30px;
    border-radius: 25px;
    font-size: 30px;
    color: #ff0000;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.industryRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 0px 100px;
    height: auto;
}

.webDevelopmentLogo {
    width: 50px;
}

.webDevelopmentSection {
    width: calc(100% / 3);
    border: solid 1px black;
    padding: 10px;
}

.webDevelopmentHeading {
    color: #ff0000;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

#industryContent {
    padding: 20px 0px;
}

/* Technology and framwork section */
.techFrameworkicon {
    width: auto;
    height: 100px;
}

.webDevelopmentSectionTech {
    width: calc(100% / 4);
}

.industryRowTech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 0px 100px;
    height: auto;
}

#techContent {
    padding: 10px 0px;
}

/* Working style section */
#aboutWorkingStyle {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 20px 100px 20px 100PX;
    font-size: 24px;
    text-align: justify;
}

.workingStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 0px 100px;
    height: auto;
    padding: 50px 0px;
}

.workingStyleProcess{
    background-color: rgb(207, 195, 56, 30%);
    width: 100%;
    height: 175px;
    border-radius: 10px;
}

#requirementAnalysisIcon{
    padding: 15px 0px;
    width: 50px;
    height: 80px;
}

.workingStyleProcess h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #ff0000;
    padding: 0px 10px;
}


/* Client Section */
h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #0b0202;
    padding: 0px 10px;
    font-size: 20px;
}

.clientLogo{
    padding: 15px 0px;
    width: 60px;
    height: 110px;
}

.clientDetails{
    background-color: rgb(207, 195, 56, 30%);
    width: 100%;
    height: 175px;
    border-radius: 10px;
    border: solid 2px black;
}

.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    height: 500px;
    padding: 40px 0px;
    margin: 0px 100px;
}
.fixedContent{
    width: 50%;
    padding: 10px;
}
.testimonialDescription{
    font-size: 24px;
}
h1{
    font-size: 30px;
    color: #ff0000;
}
.customerFeedback{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-align: justify;
}
.clientDetailsIcone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px ;
    /* float: left !important; */
}

/* Footer Section */
.footerSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding: 20px 100px;
    background-color: rgb(207, 195, 56, 30%);
    height: 300px;
    
}

.footerButton{
    background-color: #cfc338;
    width: 180px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    padding: 0px 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #ff0000;
    margin-bottom: 20px;
}
.quickLinks li{
    text-align: left;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    padding-bottom: 5px;
}
.footerIcon{
    width: 20px;

    /* display: flex;
    flex-direction: column;
    align-items: start; */
}
.address{
    display: flex;
    align-items: center;
    /* height: 10px;
    width: 10px; */
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}
.fullAddress{
    padding-left: 20px;
    text-align: left;
}
.phoneEmail{
    padding-top: 10px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}
#email{
    padding-top: 10px;
}

/* Bottom Footer Section */
.bottomFooter{
    background-color: #cfc338;
    height: 60px;
    display: flex;
    justify-content: space-between;

}
.copyright{
    /* background-color: #cfc338;
    height: 60px;*/
    align-items: center; 
    display: flex;
    padding-left: 20px;
}
.socialIcon{
    align-items: center;
    display: flex;
    margin-right: 20px;
    gap: 10px;
}
.socialIcon img{
    width: 30px;
}
